@media (max-width: 1032px) {
    body {        
        width: 100vw;
        height: 100vh;
        background: var(--cor-de-fundo) url(../images/bg-mobile.svg) no-repeat center top;
        display: flex;
    }
    .container {        
        max-width: 318px;
        max-height: 740px;
        height: 100vh;
        justify-items: center;
        align-self: flex-start; 
    }

    /* HEADER */

    .header {
        display: flex;
        height: 95px;
        width: 280px;
        margin: 0;
        padding-left: 3px;        
        position: absolute;
        flex-direction: column;        
        justify-content: center;        
        margin-top: 2px;
    }

    .header img {
        width: 130px;
    }

    /* MOCKUPS */

    .mockups {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 280px;
        max-height: 200px;
        margin-top: 132px;
        
    }

    /* DESCRIPTION */

    .description {
        margin: 0;
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 300px;
        top: 317px;
               
    }

    .description h2 {
        font-size: 2.4rem;
        width: 270px;
        text-align: center;
        margin-top: 25px;
        padding-top: 10px;
    }

    .description p {
        font-size: 1.6rem;
        width: 280px;
        text-align: center;
        line-height: 24px;
        padding-bottom: 20px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 4px;
    }

    .description a {
        font-size: 1.2rem;
        padding: 11px 76px;
    }

    /* FOOTER */

    .footer {
        margin: 0;
        display: flex;
        width: 280px;
        height: 28px;
        justify-content: center;
        top: 680px;        
        position: absolute;
        margin-right: 14px;

    }

    .footer .social i {
        height: 28px;
        width: 28px;
        font-size: 1.3rem;
        padding: 7px;
    }

    .footer .social a {
        margin-right: -6px;
    }

}